.navbar.navbar-light.navbar-expand-lg.fixed-top.flex-wrap.clean-navbar {
  border-bottom:5px solid rgb(245,228,8);
  background-image:linear-gradient(#00122d, #0749b1, #002d70 );
  border-top:10px solid white;
}

@media (max-device-width: 992px) {
  #navcol-1 {
    margin-top:20px;
    margin-left:10px;
    
  }
}



@media (min-width: 1200px){

  .container{
    max-width: 1400px;
  }

  .header-text{
    font-size: 32px;
  }

  .menu-text{
    font-size: 24px;
  }

  .container_two{
    padding: 10px 50px 10px 50px;
  }

  .news_section{
    max-width: 1400px ;
    text-align: left;
  }
}



@media (max-width: 576px){

  .header-text{
    font-size: 24px;
  }

  .menu-text{
    font-size: 16px;
  }

  .container_two{
    padding: 10px 50px 10px 50px;
  }



}

