.navbar.navbar-light.navbar-expand-lg.fixed-top.flex-wrap.clean-navbar {
  border-bottom:5px solid rgb(245,228,8);
  background-image:linear-gradient(#00122d, #0749b1, #002d70 );
  border-top:10px solid white;
}

.img-fluid, .img-thumbnail {
}

@media (max-device-width: 992px) {
  #navcol-1 {
    margin-top:20px;
    margin-left:10px;
    
  }
}

